/* ─── Pieces — MD3 — Textarea ──────────────────────────────────────────────────
   Borda 1px (2px em foco), radius 16px. Visual Material Design 3.
────────────────────────────────────────────────────────────────────────────── */

.piece-skin-md3 .piece-textarea,
.piece-textarea.piece-skin-md3 {
    display: grid;
    position: relative;
    transition: .3s;

    &>:nth-child(1) {
        display: grid;
        min-height: 128px;
        border-radius: 16px;
        border-style: solid;
        border-width: 1px;
        cursor: var(--cursor-text);
        transition: background .6s;

        &:has(textarea:focus) {
            border-width: 2px;

            &>textarea {
                padding: 16px;
            }
        }

        &>textarea {
            all: unset;
            resize: none;
            font-size: 1rem;
            padding: 17px;
            &::placeholder { user-select: none; }
        }

        &>:nth-child(2) { order: -1; }
    }

    &.piece-extra-small >:nth-child(1) { min-height: 80px; }
    &.piece-small       >:nth-child(1) { min-height: 104px; }
    &.piece-medium      >:nth-child(1) { min-height: 128px; }
    &.piece-large       >:nth-child(1) { min-height: 160px; }
    &.piece-extra-large >:nth-child(1) { min-height: 208px; }
}
