/* ─── Pieces — Neutral — FAB ──────────────────────────────────────────────────
   Retangular suave. Radius maior que o button pois é flutuante.
────────────────────────────────────────────────────────────────────────────── */

.piece-skin-neutral .piece-FAB,
.piece-FAB.piece-skin-neutral {
    --border-radius: 6px;

    &.piece-small  { --border-radius: 5px; }
    &.piece-medium { --border-radius: 8px; }
    &.piece-large  { --border-radius: 8px; }
}
