/* ─── Pieces — Neutral — Textarea ─────────────────────────────────────────────
   Borda fina 1px, radius baixo. Visual limpo sem efeito de outline em destaque.
────────────────────────────────────────────────────────────────────────────── */

.piece-skin-neutral .piece-textarea,
.piece-textarea.piece-skin-neutral {
    display: grid;
    position: relative;
    transition: .3s;

    &>:nth-child(1) {
        display: grid;
        min-height: 88px;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        cursor: var(--cursor-text);
        transition: background .6s;

        &>textarea {
            all: unset;
            resize: none;
            font-size: 13px;
            padding: 8px 10px;
            &::placeholder { user-select: none; }
        }

        &>:nth-child(2) { order: -1; }
    }

    &.piece-extra-small >:nth-child(1) { min-height: 56px; }
    &.piece-small       >:nth-child(1) { min-height: 72px; }
    &.piece-medium      >:nth-child(1) { min-height: 88px; }
    &.piece-large       >:nth-child(1) { min-height: 112px; }
    &.piece-extra-large >:nth-child(1) { min-height: 152px; }
}
