/* ─── Pieces — Base — Group Button ──────────────────────────────────────────
   Estrutura pura. --round e --fully-round definidos por modelo.
────────────────────────────────────────────────────────────────────────────── */

.piece-group-button {

    --gap: 2px;
    display: inline-flex;
    gap: var(--gap);

    > .piece-button {
        transition: border-radius 0.15s ease;

        border-radius: var(--round);

        &.piece-actived,
        &:has(input:checked) {
            border-radius: var(--fully-round);
        }

        &:first-child {
            border-radius: var(--fully-round) var(--round) var(--round) var(--fully-round);
        }
        &:last-child {
            border-radius: var(--round) var(--fully-round) var(--fully-round) var(--round);
        }
        &:not(:first-child):not(:last-child):not(:has(input:checked)):not(.piece-actived) {
            border-radius: var(--round);
        }
    }
}
